<html>
	<head>
		<title>StarmadeWrapper Builds</title>
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.3/slate/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>StarmadeWrapper <small>Continuous Integration</small></h1>
				</div>
				<div class="panel-body">
					<p>
						StarmadeWrapper is an administration tool created by Gravypod.</br>
						If you like his work donate to him, or use the adf.ly links below.</br>
						All links with the name "Download" send you to adf.ly, <strong>all links, with the name *, send you to a direct download link</strong>.</br>
						If you are intrested in using our scripting language, <a href="./test.sl">look at this example script for documentation.</a></br><br>
						<a class="btn" href="{$latest}"><i class="fa fa-cog"></i> Latest Version Download</a>
						<a class="btn" href="mailto://gravypod@gravypod.com"><i class="fa fa-comments"></i> Email Me</a>
					</p>
				</div>
				<table class="table">
					<thead>
						<th>Build Number</th>
						<th>Release Date</th>
						<th>Download Link</th>
					</thead>
					<tbody>
						{loop="builds"}
						<tr>
							<td>{$value.build}</td>
							<td>{$value.creation}</td>
							<td><a href="{$value.adfly}"><i class="fa fa-floppy-o"></i> Download</a> | <a href="{$value.direct}">*</a></td>
						</tr>
						{/loop}
					</tbody>
				</table>
				
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3><i class="fa fa-list-alt"></i> Changelog</h3>
				</div>
				<div class="panel-body">
					{loop="changelogs"}
						<div class="panel panel-default">
							<div class="panel-heading">{$key}</div>
							<div class="panel-body">
								{$value}
							</div>
						</div>
					{/loop}
				</div>
				<div class="panel-footer">
					&copy; Joshua (gravypod) Katz 2014 
					<form class="text-right" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="VAKEPZ4MHQ8DS">
						<button class="btn" name="submit"><i class="fa fa-money"></i> Donate</button>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</html>